/* Styles for a product card */
.product-card {
    display: flex;
    flex-direction: row;
    margin: 4rem auto;
    padding: 0;
    overflow: hidden;
    border-radius: 1rem;
    min-width: 95rem;
    max-width: 120rem;
    min-height: 20rem;
    box-shadow: 0 0 2rem 0 rgba(100, 100, 100, 0.2);
    transition-duration: 0.5s;
}

.product-card-image {
    flex: 1 0 20rem;
    height: 15rem;
    text-align: center;
    margin-top: 2rem;
}

.product-card-image img {
    height: 100%;
    margin: auto;
}

.product-card-content {
    flex-basis: 40rem;
    flex-grow: 6;
    flex-shrink: 0;
}

.product-card-actions {
    flex: 0 0 10rem;
    margin-top: 2rem;
}

.product-card-actions div {
    height: 8rem;
}

.product-card-title {
    font-size: 3rem;
    margin-top: 2rem;
}

.product-card-description {
    margin: 2rem 2rem 2rem 0;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.product-card:hover {
    box-shadow: 0 0 4rem 0 rgba(100, 100, 150, 0.4);
    transform: translateY(-0.5rem);
}

.product-card-price {
    font-size: 2rem;
    margin-top: 0;
    color: #666;
}

.product-card-editable {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.product-card-editable label {
    flex: 0 0 12rem;
    text-align: right;
    padding-right: 1rem;
}

.product-card-editable label, .product-card-editable input, .product-card-editable textarea {
    font-size: 2rem;
}

.product-card-editable input, .product-card-editable textarea {
    width: 50rem;
}

.product-card-editable textarea {
    height: 20rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
